@{
  Layout="Shared/_Layout.cshtml";
  var url = Request.Path;
}

@if(@url == "/contacts/new")
{
  <h2>Here's your new contact:</h2>
}
<address>
  <strong>@Model.GetName()</strong><br>
  @Model.GetAddress().GetStreet()<br>
  @Model.GetAddress().GetCity(), @Model.GetAddress().GetZip()<br>
  <abbr title="Phone">P:</abbr> @Model.GetTelephone()
  <a href="mailto:@Model.GetEmail()">@Model.GetEmail()</a>
</address>

<form action="/contacts/delete/@Model.GetId()" method="post">
  <button type="submit"  class="btn btn-default">Remove this Contact</button>
</form>
